@charset "utf-8";

table {
	border-collapse: collapse;
	width:100%;
	padding-bottom:30px;
	margin-top:40px;
}
th.t_top {
    border-top: #be1309 4px solid;
}
th {
	border-bottom: #e3e3e3 1px dotted;
	text-align: left;
	padding: 10px;
	font-weight: normal;
}
td.t_top {
	border-top: #b3b3b3 4px solid;
}
td {
	border-bottom: #e3e3e3 1px dotted;
	text-align: left;
	padding: 10px;
}
tr:hover {
    background:#C0C0C0;
    color: #FFFFFF;
}
